.vscode
learn-python/learn-openCV/.vscode
learn-python/learn-openCV/learning_opencv
learn-python/learn-openCV/resources/video.webm
learn-python/learn-openCV/.vscode
learn-python/learn-openCV/__pycache__/chapter1.cpython-38.pyc
